@font-face {
  font-family: Roboto;
  src: url(../res/Roboto-Regular.ttf) format('woff');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: Roboto;
  src: url(../res/Roboto-Italic.ttf) format('woff');
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: Roboto;
  src: url(../res/Roboto-Medium.ttf) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../res/Roboto-MediumItalic.ttf) format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../res/Roboto-Black.ttf) format ('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Roboto;
  src: url(../res/Roboto-BlackItalic.ttf) format('woff');
  font-style: italic;
  font-weight: 600;
}

body {
  margin: 0;
  font-size: 14px;
}

header {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#name {
  font-family: Roboto;
  font-weight: 600;
  font-style: italic;
  display: flex;
  padding: 10px;
  padding-left: 300px;
  justify-content: center;
  align-items: center;
}

#header-menu {
  font-family: Roboto;
  font-weight: 600;
  font-style: normal;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
}

#header-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-menu li {
  list-style-type: none;
  margin: 10px;
}

#header-menu li a {
  color: black;
  text-decoration: none;
}

#content1 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

#about-me-text {
  font-family: Roboto;
  font-weight: 200;
  font-style: normal;
  margin: 10px;
  margin-left: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#about-me-text h1 {
  margin-bottom: 25px;
  font-family: Roboto;
  font-weight: 600;
  font-style: normal;
}

#about-me-text p {
  font-size: 20px;
}

#about-me-photo { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-right: 500px;
}

#about-me-photo img {
  display: flex;
  margin: 0;
  border-radius: 10%;
  width: 300px;
  height: 400px;
}

#exp {
  font-family: Roboto;
  display: flex;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-direction: column-reverse;
}

#exp-1, #exp-2, #exp-3, #exp-4 {
  margin: 0;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

#exp-1 h1, #exp-2 h1, #exp-3 h1, #exp-4 h1 {
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

#exp-1 p, #exp-2 p, #exp-3 p, #exp-4 p {
  font-style: normal;
  font-weight: 200;
  width: 500px;
  font-size: 18px;
  margin: 0;
  margin-left: 50px;
}

#linkedIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 500px;

  font-family: Roboto;
  font-weight: normal;
  font-size: 600;
  font-size: 20px;

}

#linkedIn img {
  width: 100px;
  margin-bottom: 15px;
}
